.form-add-edit-product{
  display: flex;
  flex-direction: column;
  form{
    margin-bottom: em(30px);
  }
  .expiration-date{
    .input-group{
      width: 100%;
      padding: 0;
    }
  }
  .btn-input-interaction{
    margin: 0;
  }
}

.total-product-count-container{
  color: var(--primary-color);
  height: em(61px);
  margin-bottom: em(30px);
  .total-product-count{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
  }
}

.expiration-date{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: var(--primary-color);
  .input-group{
    display: flex;
  }
  .form-input{
    width: 4rem;
    padding-left: 1rem;
    padding-right: 0rem;
  }
  .btn-input-interaction{
    width: 2rem;
  }
  .form-input, .btn-input-interaction{
    height: 2rem;
  }
  .input-add {
    justify-content: flex-end;
  }
  &:not(:last-child){
    margin-bottom: .7rem;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .expiration-date{
    width: rem(340px);
  }
}

/*Full-screen*/
@media screen and (min-width: 1320px) {
  .form-add-edit-product{
    justify-content: space-between;
    height: 100%;
    .input-group{
      width: em(340px);
    }
    form{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      column-gap: em(64px);
      height: calc(100% - 5.4375rem);
      width: 50%;
      min-width: 50%;
      margin-bottom: 0;
      .error-message-input {
        min-height: 1.375rem;
      }
    }
  }
  .total-product-count-container{
    width: em(340px);
  }
}


