@mixin container-checkbox($color, $border-checkmark, $border-check){
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  color: $color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .checkmark-checkbox {
    position: relative;
    margin: 0 0.5rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    border: 1px solid $border-checkmark;
    border-radius: em(5px);
    transition: 0.3s ease-in-out;
    &:after{
      content: "";
      position: absolute;
      display: none;
      left: em(6px);
      top: em(3px);
      width: em(5px);
      height: em(10px);
      border: solid $border-check;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input{
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark-checkbox {
      background-color: var(--primary-color);
    }
    &:checked ~ .checkmark-checkbox:after {
      display: block;
      border-color: var(--white);
    }
  }
}

@mixin container-radio(){
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: em(12px);
  color: var(--white);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .radio-checkmark {
      background-color: var(--primary-color);
    }
    &:checked ~ .radio-checkmark:after {
      display: block;
    }
  }
  .radio-checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: em(26px);
    width: em(26px);
    background-color: var(--primary-color);
    border-radius: 50%;
    transition: .2s ease-in-out;
    &:after{
      content: "";
      position: absolute;
      display: none;
      top: em(6px);
      left: em(6px);
      width: em(14px);
      height: em(14px);
      border-radius: 50%;
      background: var(--white);
    }
  }
}

.input-group {
  position: relative;
  padding: em(7px) 0;
  width: 100%;
}

.form-input {
  width: 100%;
  padding: rem(13px) rem(20px);
  border: 1px solid var(--primary-color);
  border-color: var(--primary-color);
  border-radius: rem(10px);
  font-family: inherit;
  font-size: rem(18px);
  font-weight: 400;
  color: var(--grey);
  background: transparent;
  transition: .25s ease-in-out;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover, 
.form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--grey);
  transition: background-color 5000s ease-in-out 0s;
}

.form-label, .form-label-grey {
  position: absolute;
  top: rem(-3px);
  left: rem(15px);
  display: block;
  padding: 0 .3em;
  transition: 0.2s;
  font-weight: 600;
  color: var(--primary-color);
  z-index: 1;
}

.form-label{
  background-color: var(--white);
}

.form-label-grey{
  background-color: var(--grey-background);
}

.container-input-interaction{
  display: flex;
  .form-input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-input-interaction{
    min-width: rem(50px);
    height: rem(55px);
    margin: 0.53em 0;
    background-color: var(--primary-color);
    border: none;
    border-top-right-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    color: $white;
    .btn-icon{
      font-size: rem(25px);
    }
  }
}

.container-checkbox {
  @include container-checkbox(var(--primary-color), var(--primary-color), var(--primary-color));
}

.container-checkbox + .container-checkbox{
  margin-top: 1rem;
}

.container-checkbox + .btn-purple{
  margin-top: 1rem;
}

.container-checkbox + .input-group{
  margin-top: 1rem;
}

.error-input{
  border-color: var(--red);
}

.error-message-input {
  display: flex;
  align-items: center;
  min-height: rem(30px);
  font-size: rem(14px);
  font-weight: 500;
  color: var(--red);
}

.quick-search {
  position: relative;
  span{
    position: absolute;
    top: 0.02rem;
    left: em(18px);
  }
  .input-icon{
    font-size: rem(21px);
    color: var(--grey);
  }
  input{
    width: 100%;
    height: rem(37px);
    margin-bottom: rem(13px);
    padding: 0 em(18px) 0 3.5625rem;
    font-family: var(--font-poppins);
    font-size: rem(18px);
    font-weight: 600;
    color: var(--grey);
    background-color: var(--white);
    border: none;
    border-radius: 50px;
    box-shadow: 0px 1px 4px var(--drop-shadow);
    &::placeholder {
      color: var(--grey);
    }
    &:-webkit-autofill,
    &:-webkit-autofill:hover, 
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: var(--grey);
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 992px){
  .quick-search {
    input{
      width: rem(240px);
      height: rem(53px);
      margin-right: rem(19px);
      margin-bottom: 0;
    }
  }
}