@mixin container-checkbox($color, $border-checkmark, $border-check){
  display: flex;
  align-items: center;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  color: $color;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .checkmark-checkbox {
    position: relative;
    margin: 0 0.5rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    border: 1px solid $border-checkmark;
    border-radius: em(5px);
    transition: 0.3s ease-in-out;
    &:after{
      content: "";
      position: absolute;
      display: none;
      left: em(6px);
      top: em(3px);
      width: em(5px);
      height: em(10px);
      border: solid $border-check;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  input{
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark-checkbox {
      background-color: transparent;
    }
    &:checked ~ .checkmark-checkbox:after {
      display: block;
    }
  }
}

.input-group {
  position: relative;
  padding: em(7px) 0;
}

.form-input {
  width: 100%;
  padding: rem(13px) rem(20px);
  border: 1px solid $new-primary-color;
  border-color: $new-primary-color;
  border-radius: rem(10px);
  font-family: inherit;
  font-size: rem(18px);
  font-weight: 400;
  color: $new-grey;
  background: transparent;
  transition: .25s ease-in-out;
}

.form-input:-webkit-autofill,
.form-input:-webkit-autofill:hover, 
.form-input:-webkit-autofill:focus {
  -webkit-text-fill-color: $new-grey;
  transition: background-color 5000s ease-in-out 0s;
}

.form-label {
  position: absolute;
  top: rem(-3px);
  left: rem(15px);
  display: block;
  padding: 0 .3em;
  transition: 0.2s;
  font-weight: 600;
  color: $new-primary-color;
  background-color: $white;
}

.container-input-interaction{
  display: flex;
  .form-input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-input-interaction{
    min-width: rem(50px);
    height: rem(55px);
    margin: 0.53em 0;
    background-color: $new-primary-color;
    border: none;
    border-top-right-radius: rem(10px);
    border-bottom-right-radius: rem(10px);
    color: $white;
    .btn-icon{
      font-size: rem(25px);
    }
  }
}

.container-checkbox {
  @include container-checkbox($new-primary-color, $new-primary-color, $new-primary-color);
}

.container-checkbox + .container-checkbox{
  margin-top: 1rem;
}

.container-checkbox + .btn-purple{
  margin-top: 1rem;
}

.container-checkbox + .input-group{
  margin-top: 1rem;
}

.error-input{
  border-color: $new-red;
}

.error-message-input {
  display: flex;
  align-items: center;
  min-height: rem(30px);
  font-size: rem(14px);
  font-weight: 500;
  color: $new-red;
}
//Date picker

.react-datepicker__triangle{
  border-bottom-color: $grey !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: $primary-color !important;
}

.react-datepicker__navigation--previous{
  border-right-color: $primary-color !important;
  transition: .2s ease-in-out;
  &:hover{
    border-right-color: $blue !important;
  }
}

.react-datepicker__navigation--previous--disabled{
  border-right-color: $grey-dark !important;
  &:hover{
    border-right-color: $grey-dark !important;
  }
}

.react-datepicker__navigation--next{
  border-left-color: $primary-color !important;
  transition: .2s ease-in-out;
  &:hover{
    border-left-color: $blue !important;
  }
}

.react-datepicker__header {
  background-color: $grey !important;
}

.react-datepicker__day {
  transition: 0.2s ease-in-out;
  &:hover {
    color: $primary-color;
    background-color: $grey !important;
  }
}

.react-datepicker__day--disabled{
  &:hover {
    color: #ccc;
    background-color: transparent !important;
  }
}

.react-datepicker__day--keyboard-selected{
  background-color: $blue !important;
}

.react-datepicker__close-icon {
  right: 5px !important;
  &:after {
    background-color: $blue;
  }
}

.quick-search {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 0 0.8rem;
  color: $primary-color;
  background-color: $grey-lighter;
  border-radius: 10px;
  border: 2px solid $grey;
  transition: 0.2s ease-in-out;
  &:hover {
    border-color: $primary-color;
  }
  &::placeholder {
    color: #8ea6c0;
    opacity: 1;
  }
}


/*Tablet*/

@media screen and (min-width: 699px) {
  .quick-search {
    width: unset;
    margin-right: .8rem;
  }
}