@mixin btn-action($font-size, $height-width, $margin-right : true, $type : "normal"){
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $height-width;
  height: $height-width;
  font-size: $font-size;
  @if $margin-right {
    margin-right: .5rem;
  }
  color: var(--white);
  @if $type == disabled {
    background-color: var(--grey);
    cursor: not-allowed;
  } @else if $type == normal {
    background-color: var(--primary-color);
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 50%;
      background-color: var(--primary-color);
      opacity: 0.4;
      transition: .2s ease-in-out;
    }
    &:hover{
      background-color: var(--primary-color);
    }
    &:hover::after{
      transform: scale(1.15);
    }
  } @else if $type == warning {
    background-color: var(--orange);
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 50%;
      background-color: var(--orange);
      opacity: 0.4;
      transition: .2s ease-in-out;
    }
    &:hover{
      background-color: var(--orange);
    }
    &:hover::after{
      transform: scale(1.15);
    }
  }
  border: none;
  border-radius: 50%;
  svg{
    z-index: 1;
  }
}

.btn-list-sort{
  border: none;
  margin-left: .5rem;
  svg{
    width: 0.625em;
  }
}

.no-data, .no-data-search, .no-data-option{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  color: var(--primary-color);
  background-color: var(--white);
  border-radius: 1.25rem;
  box-shadow: 0px 1px 4px var(--drop-shadow);
  p{
    margin-bottom: .5rem;
    text-align: center;
  }
  a{
    margin: 0;
  }
}

.no-data{
  min-height: calc(100vh - 9.4375rem);
}

.no-data-search{
  min-height: calc(100vh - 18.875rem);
}

.no-data-option{
  min-height: calc(100vh - 13.813rem);
}

.container-list-table{
  background-color: var(--white);
  box-shadow: 0px 1px 4px var(--drop-shadow);
  border-radius: em(20px);
  overflow: hidden;
}

.list-table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table, tr {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .thead-no-cursor{
    th{
      cursor: unset;
    }
  }
  .centered-thead{
    .span-no-sorting{
      margin: 0;
      justify-content: center;
    }
  }
  thead{
    display: flex;
    justify-content: center;
    background-color: var(--purple-light);
    border-bottom: em(1px) solid var(--primary-color);
    padding: 1rem 0;
    tr{
      height: auto;
      width: 100%;
    }
    th{
      display: flex;
      align-items: center;
      height: 2rem;
      margin: .25rem 0;
      color: var(--primary-color);
      cursor: pointer;
      transition: .2s ease-in-out;
      .span-sorting, .span-no-sorting{
        display: flex;
        justify-content: left;
        align-items: center;
        button{
          display: flex;
          width: rem(13.33px);
          color: var(--primary-color);
          background-color: transparent;
        }
      }
      .span-sorting{
        margin-left: 1rem;
      }
    }
  }
  tbody{
    tr{
      height: auto;
      border-bottom: 1px solid var(--primary-color);
      color: var(--primary-color);
      transition: .2s ease-in-out;
      .all-info{
        height: auto;
        padding: .5rem 1rem;
      }
      .ellipsis-info{
        max-width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      td{
        margin: .5rem 0;
      }
      td:last-child{
        text-align: center;
      }
      &:hover{
        background-color: var(--purple-light);
      }
    }
  }
}

.div-list-table-action{
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code-red,
.color-code-orange,
.color-code-green,
.no-color-code{
  padding: .2rem .3rem;
}

.color-code-red,
.color-code-orange,
.color-code-green{
  color: var(--white);
  padding: .2rem .3rem;
  border-radius: em(5px);
}


.color-code-red{
  background-color: var(--red);
}

.color-code-orange{
  background-color: var(--orange);
}

.color-code-green{
  background-color: var(--green);
}

.hide-color-code{
  background-color: transparent;
  color: var(--primary-color);
}

.list-table-action{
  @include btn-action(1rem, 2rem);
  &:last-child{
    margin-right: 0rem;
  }
}

.list-table-action-warning{
  @include btn-action(1rem, 2rem, true, "warning");
  &:last-child{
    margin-right: 0rem;
  }
}

.list-table-action-disabled{
  @include btn-action(1rem, 2rem, true, "disabled");
  &:last-child{
    margin-right: 0rem;
  }
}

.list-table-one-action{
  @include btn-action(1rem, 2rem, false);
}

.list-table-one-action-disabled{
  @include btn-action(1rem, 2rem, false, "disabled");
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
}

.action-pagination{
  display: flex;
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    padding: 0 .3rem;
    font-size: 1.7rem;
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .3rem;
    color: var(--primary-color);

    input{
      width: 1.8rem;
      height: 1.9rem;
      margin: 0 .3rem;
      border: rem(1px) solid var(--primary-color);
      border-radius: .2rem;
      color: var(--primary-color);
      font-size: 1rem;
      text-align: center;
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 768px) {
  .list-table{
    table, tr {
      flex-direction: unset;
      align-items: unset;
      justify-content: unset;
    }
    table{
      display: table;
    }
    tr{
      display: table-row;
    }
    .thead-no-cursor{
      th{
        &:hover{
          background-color: unset;
        }
      }
    }
    thead{
      display: table-header-group;
      tr{
        height: 3rem;
      }
      th{
        display: table-cell;
        margin: 0;
        &:hover{
          background-color: var(--white);
        }
        .span-no-sorting{
          margin-left: 1rem;
        }
      }
    }
    tbody{
      tr{
        height: 3rem;
        .td-notif-action{
          padding: 0 1rem;
        }
      }
      .td-align-center{
        padding-right: 1rem;
        text-align: center;
      }
      td:not(:last-child){
        padding-left: 1rem;
      }
    }
  }
  
  .list-table-action, .list-table-action-warning{
    &:first-child{
      margin-right: 1rem;
    }
  }

  .list-table-action-disabled{
    @include btn-action(1rem, 2rem, true, "disabled");
    &:first-child{
      margin-right: 1rem;
    }
  }

  .no-data-option{
    min-height: calc(100vh - 14.25rem);
  }
}

/*Full-screen*/
@media screen and (min-width: 992px){
  .list-table{
    thead{
      tr{
        height: calc(calc(100vh - 18.875rem) / 14);
      }
    }
    tbody{
      tr{
        height: calc(calc(100vh - 18.875rem) / 14);
        .all-info{
          padding: 0 1rem;
        }
      }
    }
  }
  .pagination{
    height: calc(calc(100vh - 18.875rem) / 14);
  }
  .no-data{
    min-height: calc(100vh - 13.75rem);
  }
  .no-data-option{
    min-height: calc(100vh - 19rem);
  }
}