.main-menu{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: em(12px) em(21px);
  height: em(60px);
  width: calc(100% - 1.625em);
  background-color: var(--white);
  border-radius: em(15px);
  box-shadow: 0px 1px 4px var(--drop-shadow);
  transform-style: preserve-3d;
  z-index: 99;
  img{
    display: flex;
    width: em(37px);
  }

  .svg-icon-responsive-container{
    display: flex;
  }
  
  .svg-icon{
    display: none;
  }
  &:before{
    content: '';
    position: absolute;
    top: -0.8125em;
    left: -5px;
    background-color: var(--grey-background);
    width: 105%;
    height: 1.625em;
    transform: translateZ(-1px);
  }
}
.menu{
  display: none;
  position: absolute;
  top: em(60px);
  left: 0;
  height: calc(100vh - 86px);
  width: 100%;
  z-index: 10;
  background-color: var(--white);
  border-bottom-left-radius: em(15px);
  border-bottom-right-radius: em(15px);
  box-shadow: 0 -6px 0 var(--white), 0 1px 4px var(--drop-shadow);
  transform-style: preserve-3d;
  &:after{
    content: '';
    position: absolute;
    bottom: -0.8125em;
    left: -5px;
    background-color: var(--grey-background);
    width: 105%;
    height: 1.625em;
    transform: translateZ(-1px);
  }
  li{
    a, .div-logout{
      position: relative;
      display: flex;
      align-items: center;
      height: rem(68px);
      font-size: rem(19px);
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--grey);
      border-right: 0px solid var(--primary-color);
      background: linear-gradient(270deg, var(--white) 0%, var(--white) 100%);
      z-index: 1;
      transition: .2s ease-in-out;
      &:before{
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(270deg, var(--gradient-menu-one) 0%, var(--gradient-menu-two) 100%);
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
      }
      &:hover{
        color: var(--primary-color);
        border-right: 5px solid var(--primary-color);
      }
      &:hover::before{
        opacity: 1;
      }
      .svg-menu{
        font-size: rem(24px);
        margin: 0 rem(30px);
      }
    }
    .div-logout{
      cursor: pointer;
    }
  }
}

.svg-icon-responsive{
  display: flex;
  margin-right: em(21px);
  color: var(--primary-color);
  svg{
    font-size: 1.3rem;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  #svg-responsive-times{
    width: 0.875em;
  }
  &:last-child{
    margin-right: 0;
  }
}

.border-menu-open{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.display-block{
  display: block;
}

/*Media queries*/


/*Tablet*/
@media screen and (min-width: 768px) {
  .menu{
    left: unset;
    right: 0;
    width: em(300px);
    height: auto;
    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: em(-15px);
      width: em(15px);
      height: em(15px);
      background: radial-gradient(circle at bottom left, transparent 15px, var(--white) 1px);
    }
    &:after{
      all: unset;
    }
    li{
      .div-logout{
        border-bottom-left-radius: em(15px);
        border-bottom-right-radius: em(15px);
      }
    }
  }
  .border-menu-open{
    border-bottom-left-radius: em(15px);
  }
}

/*Full-screen*/
@media screen and (min-width: 1320px){
  .main-menu{
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    min-height: calc(100vh - 6rem);
    width: em(95px);
    min-width: em(95px);
    padding: 0;
    margin-right: em(45px);
    overflow: hidden;
    border-radius: em(35px);
    transition: min-width .2s ease-in-out;
    .interact-menu{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: em(40px) 0;
      width: 100%;
      img{
        width: em(73px);
        margin-left: em(11px);
      }
      .svg-icon{
        display: flex;
        border: em(2px) solid var(--grey);
        border-radius: em(5px);
        order: 0;
        margin: 0 0 em(21px) em(29.5px);
        cursor: pointer;
        svg{
          height: 2rem;
          width: 2rem;
          color: var(--grey);
          font-size: 2rem;
          transition: 0.2s ease-in-out;
          cursor: pointer;
        }
      }
    }
    ul{
      width: em(95px);
    }
    a, .div-logout{
      justify-content: center;
      .svg-menu{
        margin: 0;
      }
      span{
        display: none;
      }
    }
    &:before{
      all: unset;
    }
  }

  .main-menu-open{
    min-width: 18.75em;
    .interact-menu{
      align-items: center;
      flex-direction: row;
      padding: em(40px) em(30px);
      .svg-icon{
        margin: 0;
        order: 1;
      }
    }
    ul{
      width: 100%;
    }
    a, .div-logout{
      justify-content: unset;
      .svg-menu{
        margin: unset;
      }
      span{
        display: block;
      }
    }
  }

  .menu{
    position: unset;
    display: flex;
    justify-content: flex-start;
    box-shadow: none;
    &:before{
      all: unset
    }
    li{
      .div-logout{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
}