.no-household-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 6.375rem);
  width: 100%;
  margin-top: 1rem;
  background-color: var(--white);
  border-radius: em(20px);
  box-shadow: 0px 1px 4px var(--drop-shadow);
  .no-household-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 1rem;
    .default-btn-blue{
      width: 18rem;
      margin-right: 0;
    }
  }
  p{
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 1320px){
  .no-household-container{
    height: 100%;
    height: calc(100vh - 13.90rem);
    margin-top: 0;
  }
}