.btn-option-container{
  display: flex;
  .input-group{
    margin-bottom: .5rem;
  }
}

.btn-option-active{
  background-color: var(--purple-light);
  color: var(--primary-color);
  div{
    background-color: var(--purple-light);
    button{
      color: var(--primary-color);
    }
  }
}

.select-option{
  width: 100%;
}

.fade-enter .option-component {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .option-component {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .option-component {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .option-component {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .option-component,
.fade-exit-active .option-component {
  transition: opacity 500ms, transform 500ms;
}

.container-option{
  min-height: calc(100vh - 13.813rem);
}

.container-radio-input + .container-radio-input{
  margin-top: 1rem;
}

.container-radio-input{
  @include container-radio();
}

.form-profile, .form-email, .form-product, .form-table-product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 15.8125rem);
}

.form-profile{
  .profile-info{
    color: var(--primary-color);
    margin-bottom: 1rem;
    h2{
      margin: 0;
    }
  }
  .container-checkbox{
    margin-bottom: 2rem;
  }
}

.form-email{
  .input-group{
    margin: 1.5rem 0;
  }
}

.form-product{
  .input-group:first-child{
    margin-bottom: 1.5rem;
  }
}

.form-familly{
  color: var(--primary-color);
  .familly-name{
    margin-bottom: 1rem;
    h2{
      margin: 0;
    }
  }
  h2{
     margin-bottom: 1rem;
  }
  .form-inline{
    margin-bottom: 1.5rem;
  }
  .form-inline:last-child{
    margin-bottom: 0;
  }
}

.form-edit-brand{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 11.75rem);
}

.table-familly-member{
  .btn-action-container{
    margin-top: 1rem;
  }
  .input-group{
    margin-top: 1rem;
  }
}
.tr-member-role{
  text-align: center;
}

.container-btn-switch-notification-table{
  display: flex;
  justify-content: center;
  margin-bottom: -1rem;
  button{
    height: 2rem;
    padding: 0 1rem;
    line-height: 1.4;
    font-weight: 700;
    color: var(--primary-color);
    border: none;
    border-top: rem(2px) solid var(--primary-color);
    border-top-left-radius: rem(10px);
    border-top-right-radius: rem(10px);
  }
  .btn-switch-notification-active{
    background-color: var(--purple-light);
  }
  .btn-switch-notification-inactive{
    background-color: var(--white);
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .container-option{
    min-height: calc(100vh - 14.25rem);
  }
  .form-profile, .form-email, .form-product, .form-table-product{
    min-height: calc(100vh - 18.5rem);
  }
  .form-familly{
    .form-inline{
      display: flex;
      margin: 0;
      .input-group{
        width: em(340px);
        margin-right: 1rem;
      }
      .btn-action-container{
        height: em(55px);
        margin-top: .40em;
        margin-bottom: 0;
      }
      .btn-purple{
        height: rem(55px);
      }
    }
  }
  .form-edit-brand{
    min-height: calc(100vh - 13.75rem);
  }
  .container-btn-switch-notification-table{
    display: flex;
    justify-content: flex-start;
    margin-left: 2rem;
  }
}

/*Full-screen*/
@media screen and (min-width: 1320px) {
  .form-familly{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: calc(100vh - 23.25rem);
    .form-inline{
      width: 50%;
    }
  }
  .form-profile, .form-email, .form-product, .form-table-product, .form-edit-brand{
    min-height: unset;
    height: 100%;
    form{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      column-gap: em(64px);
      height: calc(100% - 5.4375rem);
      width: 50%;
      min-width: 50%;
    }
    .input-group{
      width: em(340px);
    }
  }
  .form-profile{
    .change-password{
      margin-top: rem(71px);
    }
  }
  .container-option{
    min-height: unset;
  }
  .table-familly-member{
    min-width: 50%;
  }
}