.chart-container{
  display: flex;
  flex-direction: column;
  .chart{
    h4{
      text-align: center;
      font-size: 1.2rem;
      margin: .5rem;
      color: var(--primary-color);
    }
    width: 100%;
  }
  .chart-menu-interaction{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    button{
      margin: 0 .5rem;
      padding: .2rem 0;
      cursor: pointer;
      color: var(--primary-color);
      background-color: var(--white);
      text-decoration: underline;
      text-decoration-color: var(--white);
      transition: .2s ease-in-out;
      &:hover{
        text-decoration-color: var(--primary-color);
      }
    }
    .chart-menu-interaction-active{
      button{
        text-decoration-color: var(--primary-color);
      }
    }
  }

  .canvas-chart-container, .canvas-chart-container-pie{
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
  }
  .canvas-chart-container{
    height: 40vh;
  }
  .canvas-chart-container-pie{
    height: 60vh;
  }
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 1320px){
  .chart-container{
    height: calc(100vh - 13.875rem);
    flex-direction: row;
    flex-wrap: wrap;
    .chart{
      width: 50%;
      h4{
        text-align: center;
        font-size: 1rem;
        margin: 0;
        color: var(--primary-color);
      }
    }
    .canvas-chart-container, .canvas-chart-container-pie{
      position: relative;
      margin: auto;
      margin-bottom: 0;
      height: 85%;
    }
  }
}