.sub-header{
  position: relative;
  display: flex;
  flex-direction: column;
  .btn-purple{
    height: rem(37px);
    margin-bottom: rem(13px);
    .btn-icon{
      font-size: rem(21px);
    }
  }
}

.sub-interaction{
  display: flex;
  flex-direction: column;
  order: 1;
}

.sub-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 0;
  min-height: em(65px);
  padding: em(13px) 0;
  h1{
    font-size: rem(25px);
    font-weight: 700;
    color: var(--primary-color);
  }
  .multiple-button-option{
    display: flex;
    align-items: center;
    .btn-action-title + .btn-action-title{
      margin-left: rem(11px);
    }
  }
  .title-interact-container{
    display: block;
    position: absolute;
    top: em(13px);
    right: 0;
    z-index: 30;
    width: 100%;
    padding: rem(10px);
    background-color: var(--white);
    color: var(--primary-color);
    border-radius: em(15px);
    box-shadow: 0px 1px 4px var(--drop-shadow);
    .inner-title-interact-container{
      padding: em(14px);
      background-color: var(--purple-light);
      border-radius: em(15px);
    }
    .header-title-interact-message{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: rem(18px);
    }
    .btn-close-title-message{
      font-size: rem(23px);
      color: var(--primary-color);
      background-color: transparent;
    }
    .form-title-interact{
      h4, label{
        font-weight: 500;
      }
      h4{
        margin: em(14px) 0;
      }
      label{
        color: var(--primary-color);
      }
      .small-btn-purple{
        margin-top: em(14px);
      }
    }
    .form-delegate{
      label{
        color: var(--primary-color);
      }
    }
    .title-message-container-delete-action{
      p{
        margin: em(14px) 0;
      }
      .btn-delete-action-container{
        display: flex;
        align-items: center;
        button + button{
          margin-left: em(13px);
        }
      }
    }
    .multiple-action-container{
      button{
        margin: .5em 0;
      }
    }
  }
}

.form-filter-table{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .input-group{
    margin-bottom: 1rem;
  }
  .form-input{
    padding: rem(7px) rem(20px);
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 768px) {
  .title-interact-container{
    max-width: em(460px);
  }
  .form-filter-table{
    .action-form-filter{
      margin-bottom: .5rem;
    }
    .form-input{
      padding: rem(13px) rem(20px);
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 992px){
  .sub-header{
    flex-direction: row;
    justify-content: space-between;
    margin-top: em(29px);
    .btn-purple{
      height: rem(53px);
      margin-bottom: 0;
      margin-right: rem(19px);
      .btn-icon{
        font-size: rem(25px);
      }
    }
  }
  .only-option-interation{
    justify-content: flex-end;
  }
  .sub-interaction{
    align-items: center;
    flex-direction: row;
    order: 0;
  }
  .sub-option{
    min-height: 100%;
    order: 1;
    h1{
      display: none;
    }
  }
}




































// @mixin btn-action-title($font-size, $height-width, $margin-right : true, $type : "normal"){
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-width: $height-width;
//   height: $height-width;
//   font-size: $font-size;
//   box-shadow: 0px 7px 16px -11px rgba(0, 0, 0, 0.75);
//   @if $margin-right {
//     margin-right: .5rem;
//   }
//   color: $white;
//   @if $type == disabled {
//     background-color: $grey-dark;
//     cursor: not-allowed;
//   } @else if $type == normal {
//     background-color: $primary-color;
//     &:after {
//       content: "";
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       right: 0;
//       left: 0;
//       border-radius: 50%;
//       background-color: $primary-color-hover;
//       opacity: 0.4;
//       z-index: 0;
//       transition: .2s ease-in-out;
//     }
//     &:hover{
//       background-color: $primary-color-hover;
//     }
//     &:hover::after{
//       transform: scale(1.15);
//     }
//   } @else if $type == warning {
//     background-color: $orange;
//     &:after {
//       content: "";
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       right: 0;
//       left: 0;
//       border-radius: 50%;
//       background-color: $orange;
//       opacity: 0.4;
//       z-index: 0;
//       transition: .2s ease-in-out;
//     }
//     &:hover{
//       background-color: $orange;
//     }
//     &:hover::after{
//       transform: scale(1.15);
//     }
//   }
//   border: none;
//   border-radius: 50%;
//   svg{
//     z-index: 1;
//   }
// }

// @mixin default-btn() {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 2.5rem;
//   width: 100%;
//   margin-bottom: 0.5rem;
//   text-decoration: none;
//   font-size: 1.2rem;
//   font-weight: 700;
//   border-radius: 10px;
//   box-shadow: 0px 3px 16px -11px rgba(0, 0, 0, 0.75);
//   transition: 0.2s ease-in-out;
//   svg {
//     margin-left: 0.3rem;
//     height: 1rem;
//   }
// }

// @mixin default-btn-action-form($bg-color, $color, $hoverable: true) {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: rem(36px);
//   margin-right: 0.5rem;
//   padding: 0 0.8rem;
//   background-color: $bg-color;
//   border: 2px solid $bg-color;
//   border-radius: 10px;
//   color: $color;
//   font-size: 1rem;
//   font-weight: 700;
//   box-shadow: 0px 7px 16px -11px rgba(0, 0, 0, 0.75);
//   transition: 0.2s ease-in-out;
//   @if $hoverable {
//     &:hover {
//       background-color: $primary-color-hover;
//       border-color: $primary-color-hover;
//     }
//   } @else{
//     cursor: not-allowed;
//   }
//   svg {
//     margin-right: 0.8rem;
//   }
// }

// .default-title-container{
//   position: relative;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-bottom: 1rem;
//   order: 0;
//   .title-and-return{
//     display: flex;
//     align-items: center
//   }
//   .return-to{
//     @include btn-action-title(1.8rem, 2.5rem);
//   }
//   .btn-action-title{
//     @include btn-action-title(1.5rem, 2.5rem, false);
//   }
//   .title-message{
//     display: block;
//     position: absolute;
//     top: 0;
//     right: 0;
//     z-index: 30;
//     width: 100%;
//     min-height: 10rem;
//     background-color: $primary-color;
//     border-radius: 5px;
//     padding: .8rem;
//     h3, h4{
//       color: $white;
//     }
//     p{
//       color: $white;
//       text-align: center;
//       margin-bottom: .5rem;
//     }
//     .form-standard{
//       margin: 1rem 0;
//     }
//     .form-delegate{
//       margin-top: 2rem;
//       button{
//         margin-top: 1.5rem;
//       }
//     }
//     .btn-action-form-interaction{
//       margin-top: .5rem;
//       padding: .2rem .5rem;
//       font-size: 1.3rem;
//       color: $white;
//       background-color: $primary-light;
//       border: none;
//       border-radius: 5px;
//       transition: .2s ease-in-out;
//       &:hover{
//         background-color: $primary-light-hover;
//       }
//     }
//     .title-message-container-delete-action{
//       margin: 1.5rem 0;
//       .btn-delete-action-container{
//         display: flex;
//         justify-content: center;
//         margin-top: 1.5rem;
//       }
//     }
//     .btn-delete-action-yes, .btn-delete-action-no, .btn-delete-action-disabled{
//       font-size: 1.5rem;
//       margin: 0 .5rem;
//       padding: .2rem 1rem;
//       border: none;
//       border-radius: 5px;
//       color: $white;
//       transition: .5s ease-in-out;
//     }
//     .btn-delete-action-yes{
//       background-color: $red;
//       &:hover{
//         background-color: $red-hover;
//       }
//     }
//     .btn-delete-action-no{
//       background-color: $primary-light;
//       &:hover{
//         background-color: $primary-light-hover;
//       }
//     }
//     .btn-delete-action-disabled{
//       background-color: $grey-dark;
//       cursor: not-allowed;
//     }
//     .multiple-action-container{
//       .btn-delete-action-yes, .btn-delete-action-no{
//         margin: .5rem 0;
//         font-size: 1rem;
//         padding: .5rem 1rem .5rem 0.2rem;
//       }
//       svg{
//         margin: 0 .5rem;
//       }
//     }
//     .header-title-message{
//       display: flex;
//       justify-content: space-between;
//       margin-bottom: .5rem;
//       h3{
//         z-index: 31;
//       }
//       .btn-close-title-message{
//         display: flex;
//         align-items: center;
//         z-index: 31;
//         background-color: transparent;
//         border: none;
//         font-size: 1.5rem;
//         color: $white;
//         transition: .5s ease-in-out;
//         &:hover{
//           color: $grey;
//         }
//       }
//     }
//   }
// }

// .default-h1, .default-h2 {
//   color: $primary-color;
// }

// .default-h1 {
//   font-size: 2rem;
// }

// .default-h2 {
//   font-size: 1rem;
// }

// .delimiter-title{
//   margin-top: 1rem;
//   padding-top: .5rem;
//   position: relative;
//   &:before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 1px;
//     background-color: $primary-color;
//   }
// }

// .default-btn-blue {
//   @include default-btn();
//   background-color: $primary-color;
//   color: $white;
//   border: 2px solid $primary-color;
//   &:hover {
//     background-color: $white;
//     color: $primary-color;
//   }
// }

// .default-btn-white {
//   @include default-btn();
//   background-color: $white;
//   color: $primary-color;
//   border: 2px solid $primary-color;
//   &:hover {
//     background-color: $primary-color;
//     color: $white;
//   }
// }

// .default-btn-disabled {
//   @include default-btn();
//   background-color: $grey-dark;
//   color: $white;
//   border: 2px solid $grey-dark;
//   cursor: not-allowed;
// }

// .default-action-form-container{
//   display: flex;
//   align-self: flex-end;
// }

// .default-btn-action-form{
//   @include default-btn-action-form($primary-color, $white);
// }

// .default-btn-disabled-form{
//   @include default-btn-action-form($grey-dark, $white, false);
// }

// /*Tablet*/

// @media screen and (min-width: 699px) {
//   .default-btn-blue,
//   .default-btn-white,
//   .default-btn-disabled {
//     width: auto;
//     padding: 0 .4rem;
//     margin-right: .8rem;
//   }
// }
// @media screen and (min-width: 750px) {
//   .default-title-container{
//     .title-message{
//       width: 30rem;
//     }
//   }
  
//   .default-btn-blue,
//   .default-btn-white,
//   .default-btn-disabled {
//     padding: 0 1.2rem;
//   }
//   .default-action-form-container{
//     margin-bottom: .8rem;
//   }
// }

// /*Full-screen*/

// @media screen and (min-width: 992px){
//   .default-wrapper{
//     width: 100%;
//   }
// }