.sub-header{
  position: relative;
  display: flex;
  flex-direction: column;
  .btn-purple{
    height: rem(37px);
    .btn-icon{
      font-size: rem(21px);
    }
  }
  .btn-purple:not(:last-child){
    margin-bottom: rem(13px);
  }
  .btn-purple:last-child{
    margin-bottom: 1.2rem;
  }
}

.sub-interaction{
  display: flex;
  flex-direction: column;
  order: 1;
}

.sub-option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 0;
  min-height: em(70px);
  h1{
    font-size: rem(25px);
    font-weight: 700;
    color: var(--primary-color);
  }
  .multiple-button-option{
    display: flex;
    align-items: center;
    .btn-action-title + .btn-action-title{
      margin-left: rem(11px);
    }
  }
  .title-interact-container{
    display: block;
    position: absolute;
    top: em(13px);
    right: 0;
    z-index: 30;
    width: 100%;
    padding: rem(10px);
    background-color: var(--white);
    color: var(--primary-color);
    border-radius: em(15px);
    box-shadow: 0px 1px 4px var(--drop-shadow);
    .inner-title-interact-container{
      padding: em(14px);
      background-color: var(--purple-light);
      border-radius: em(15px);
    }
    .header-title-interact-message{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: rem(18px);
    }
    .btn-close-title-message{
      font-size: rem(23px);
      color: var(--primary-color);
      background-color: transparent;
    }
    .form-title-interact{
      h4, label{
        font-weight: 500;
      }
      h4{
        margin: em(14px) 0;
      }
      label{
        color: var(--primary-color);
      }
      .small-btn-purple{
        margin-top: em(14px);
      }
    }
    .form-delegate{
      label{
        color: var(--primary-color);
      }
    }
    .title-message-container-delete-action{
      p{
        margin: em(14px) 0;
      }
      .btn-delete-action-container{
        display: flex;
        align-items: center;
        button + button{
          margin-left: em(13px);
        }
      }
    }
    .multiple-action-container{
      button{
        margin: .5em 0;
      }
    }
  }
  .title-return{
    display: flex;
    align-items: center;
    .btn-action-title{
      margin-right: 1rem;
    }
  }
}

.form-filter-table{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: .5rem;
  margin-bottom: 1.8125rem;
  .input-group{
    margin-bottom: 1rem;
  }
  .form-input{
    padding: rem(7px) rem(20px);
  }
  .default-action-form-container{
    width: 100%;
    .btn-purple{
      width: 100%;
    }
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 768px) {
  .sub-option{
    min-height: em(65px);
  }
  .title-interact-container{
    max-width: em(460px);
  }
  .form-filter-table{
    .action-form-filter{
      margin-bottom: .5rem;
    }
    .input-group{
      width: em(340px);
      margin-right: em(19px);
    }
    .form-input{
      padding: rem(13px) rem(20px);
    }
  }
}

/*Full-screen*/
@media screen and (min-width: 1320px){
  .sub-header{
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.8125em;
    .btn-purple{
      height: rem(53px);
      margin-bottom: 0;
      margin-right: rem(19px);
      .btn-icon{
        font-size: rem(25px);
      }
    }
    .multiple-link-btn{
      margin-right: rem(19px);
    }
    .btn-purple:not(:last-child), .btn-purple:last-child{
      margin-bottom: 0;
    }
  }
  .only-option-interaction{
    justify-content: flex-end;
  }
  .sub-interaction{
    align-items: center;
    flex-direction: row;
    order: 0;
  }
  .sub-option{
    min-height: 100%;
    order: 1;
    h1{
      display: none;
    }
    .title-interact-container{
      top: 0;
    }
  }

  .sub-option-return{
    width: 100%;
  }

  .form-filter-table{
    margin: 0;
    .default-action-form-container{
      display: flex;
      align-items: flex-start;
      width: unset;
      height: em(69px);
      .btn-purple{
        width: 100%;
      }
    }
  }
}