.container-subnav{
  display: none;
}

.interaction-sub-menu{
  display: flex;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-notification{
  position: relative;
  .number-nofitication{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -.6rem;
    right: -.6rem;
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--red);
    color: var(--white);
    border-radius: 50%;
    font-size: rem(13px);
    font-weight: 600;
  }
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 992px){
  .container-subnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: em(95px);
    padding: em(21px) em(33px);
    margin: 0 em(10px);
    background-color: var(--white);
    color: var(--primary-color);
    border-radius: em(20px);
    box-shadow: 0px 1px 4px var(--drop-shadow);
    h1{
      font-size: rem(35px);
      font-weight: 700;
    }
    .svg-icon{
      display: flex;
      align-items: center;
      height: 2.3em;
      width: 2.3em;
      svg{
        color: var(--primary-color);
        font-size: 2.3rem;
        transition: 0.2s ease-in-out;
        cursor: pointer;
      }
    }

    .info-notification{
      margin-right: rem(35px);
      .number-nofitication{
        top: -.9rem;
        right: -.4rem;
        width: 1.65rem;
        height: 1.65rem;
        font-size: 1rem;
      }
    }
  }

  .interaction-sub-menu{
    justify-content: center;
    align-items: center;
  }

  .user-profile-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(69px);
    height: em(69px);
    background-color: var(--grey-profile);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 1px 4px var(--drop-shadow);
    span{
      font-size: rem(40px);
      font-weight: 600;
      color: var(--primary-color);
      transition: .2s ease-in-out;
    }
  }
  .border-menu-open-subnav{
    border-bottom-right-radius: 0;
  }
}