:root{
  --primary-color: hsl(257, 63%, 52%);
  --purple-light: hsl(253, 65%, 88%);
  --grey: hsl(0, 0%, 35%);
  --red: hsl(0, 86%, 70%);
  --orange: hsl(40, 100%, 51%);
  --green: hsl(125, 100%, 20%);
  --grey-background: hsl(0, 0%, 95%);
  --grey-profile: hsla(0, 0%, 61%, 0.25);
  --white: hsl(0, 0%, 100%);
  --drop-shadow: hsla(0, 0%, 61%, 0.25);
  --gradient-menu-one: hsla(257, 63%, 52%, 0.31);
  --gradient-menu-two: hsla(254, 73%, 64%, 0);
}