.container-prepper-app{
  margin: em(13px);
}

.container-row{
  position: relative;
  display: block;
  min-height: calc(100vh - 5.4375rem);
}

.container-column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.default-wrapper{
  display: flex;
  flex-direction: column;
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 768px){
  .container-row{
    overflow: hidden;
  }
}
@media screen and (min-width: 992px){
  .container-prepper-app{
    margin: em(48px);
  }
  .container-row{
    display: flex;
    justify-content: space-between;
  }
  .container-prepper-app{
    display: flex;
  }
}


