.container-prepper-app{
  min-height: 100vh;
  padding: em(13px);
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 5.375rem);
  margin-top: 3.75em;
}

.container-data, .container-option-data{
  padding: 1rem;
  background-color: var(--white);
  border-radius: em(20px);
  box-shadow: 0px 1px 4px var(--drop-shadow);
  overflow: hidden;
}

.container-option-data{
  padding: 0;
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 768px){
  .container{
    overflow: hidden;
  }

  .container-data{
    padding: em(34px);
  }

}

/*Full-screen*/
@media screen and (min-width: 1320px){
  .container{
    min-height: calc(100vh - 6rem);
    padding: 0 10px;
    margin: 0;
  }

  .container-prepper-app{
    padding: em(48px);
  }

  .container-prepper-app{
    display: flex;
  }

  .container-data{
    height: calc(100vh - 19rem);
  }
}


