.container-form-add-edit-product{
  padding: em(34px);
  background-color: var(--white);
  border-radius: em(20px);
}

.form-add-edit-product{
  display: flex;
  flex-direction: column;
}

.total-product-count-container{
  color: $primary-color;
  margin-bottom: .5rem;
  .total-product-count{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.25rem;
    width: 2.25rem;
  }
}

.list-exp-date{
  margin-bottom: .5rem;
}

.expiration-date{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  color: $primary-color;
  input{
    width: 3rem;
  }
  .input-add {
    justify-content: flex-end;
  }
  &:not(:last-child){
    margin-bottom: .5rem;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .form-add-edit-product{
    flex-direction: row;
  }

  .expiration-date{
    width: rem(230px);
    margin-right: .8rem;
  }

  .list-exp-date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: rem(490px);
  }
}

/*Full-screen*/
@media screen and (min-width: 768px) {
  .input-group{
    width: em(340px);
  }
}


