* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: #fafafa;
}

html,
body,
#root,
.app {
  min-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.default-title-container{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
    margin-right: .5rem;
    color: $primary-color;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: .2s ease-in-out;
    &:hover{
      background-color: $primary-color;
      color: $white;
    }
  }
}

.default-h {
  color: $primary-color;
  font-size: 2rem;
}

.default-btn-blue {
  @include default-btn();
  background-color: $primary-color;
  color: $white;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}

.default-btn-white {
  @include default-btn();
  background-color: $white;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.default-action-form-container{
  display: flex;
  align-self: flex-end;
}
.default-btn-action-form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calculRem(36px);
  margin-right: .5rem;
  padding: 0 .8rem;
  background-color: $primary-color;
  border: 2px solid $primary-color;
  border-radius: 10px;
  color: $white;
  font-size: 1rem;
  font-weight: 700;
  transition: .2s ease-in-out;
  outline: none;
  cursor: pointer;
  &:hover{
    background-color: $white;
    color: $primary-color;
  }
  svg{
    margin-right: .8rem;
  }
}

.success-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  color: $white;
  border-radius: 50%;
  background-color: $primary-light;
  transition: .2 ease-in-out;
}

.warning-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  color: $white;
  border-radius: 50%;
  background-color: $orange;
  cursor: pointer;
  transition: .2 ease-in-out;
}

/*Tablet*/
@media screen and (min-width: 745px) {
  .default-btn-blue,
  .default-btn-white {
    width: auto;
    padding: 0 1.2rem;
    margin-right: .8rem;
  }
  .default-action-form-container{
    margin-bottom: .5rem;
  }
}