* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: $white;
}

html,
body,
#root,
.app {
  min-height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.default-wrapper{
  display: flex;
  flex-direction: column;
  margin: 1rem .8rem;
}

.default-title-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  .title-and-return{
    display: flex;
  }
  .return-to{
    @include btn-action-title(1.8rem);
  }
  .btn-action-title{
    @include btn-action-title(1.5rem);
  }
  .title-message{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    min-height: 10rem;
    background-color: $primary-color;
    border-radius: 5px;
    padding: 2.8rem 1rem 2rem 1rem;
    p{
      color: $white;
      text-align: center;
      margin-bottom: .5rem;
    }
    .form-delegate{
      margin-top: 2rem;
      button{
        margin-top: 1.5rem;
      }
    }
    .btn-delete-action-container{
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    .btn-delete-action-yes, .btn-delete-action-no{
      font-size: 1.5rem;
      padding: .2rem 1rem;
      border: none;
      border-radius: 5px;
      color: $white;
      outline: none;
      cursor: pointer;
      transition: .5s ease-in-out;
    }
    .btn-delete-action-yes{
      background-color: $red;
      margin: 0 .5rem;
      &:hover{
        background-color: $red-hover;
      }
    }
    .btn-delete-action-no{
      background-color: $primary-light;
      margin: 0 .5rem;
      &:hover{
        background-color: $primary-light-hover;
      }
    }
  }
  .btn-close-title-message{
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 1rem;
    z-index: 31;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: $white;
    transition: .5s ease-in-out;
    outline: none;
    cursor: pointer;
    &:hover{
      color: $grey;
    }
  }

}

.default-h1, .default-h2 {
  color: $primary-color;
}

.default-h1 {
  font-size: 2rem;
}

.default-h2 {
  font-size: 1rem;
}

.delimiter-title{
  margin-top: 1rem;
  padding-top: .5rem;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $primary-color;
  }
}

.default-btn-blue {
  @include default-btn();
  background-color: $primary-color;
  color: $white;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}

.default-btn-white {
  @include default-btn();
  background-color: $white;
  color: $primary-color;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.default-action-form-container{
  display: flex;
  align-self: flex-end;
}

.default-btn-action-form{
  @include default-btn-action-form($primary-color, $white);
}

.default-btn-disabled-form{
  @include default-btn-action-form($grey-dark, $white, false);
}

/*Tablet*/
@media screen and (min-width: 745px) {
  .default-wrapper{
    width: 100%;
  }

  .default-title-container{
    .title-message{
      width: 30rem;
    }
  }
  
  .default-btn-blue,
  .default-btn-white {
    width: auto;
    padding: 0 1.2rem;
    margin-right: .8rem;
  }
  .default-action-form-container{
    margin-bottom: .8rem;
  }
}