.input-form-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  label{
    color: $primary-color;
    font-size: .8rem;
    padding: .2rem 0;
  }
  label:hover #product-brand{
    border: $primary-color
  }
  .input-form {
    height: calculRem(36px);
    font-size: 1rem;
    padding:0 0.6rem;
    color: $primary-color;
    border-radius: 4px;
    border: 1px solid #cccccc;
    transition: 0.2s ease-in-out;
    outline: none;
    &:hover {
      border-color: $primary-color;
    }
    &:focus{
      border-color: $blue;
    }
    &::placeholder {
      color: grey;
      opacity: 1;
    }
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

/*Tablet*/
@media screen and (min-width: 745px) {
  .input-form-container{
    width: calculRem(230px);
    margin-right: .5rem;
  }
}