.input-form-container{
  @include input-form-container();
  margin-bottom: .8rem;
}

.input-form-container-with-error{
  @include input-form-container();
  position: relative;
  margin-bottom: .25rem;
  padding-bottom: .8rem;
  .error-message-form, .error-message-form-double{
    display: block;
    padding: 3px 0;
    font-size: 0.8rem;
    color: red;
  }
  .error-message-form {
    position: absolute;
    bottom: 0;
    height: 1rem;
  }
  .error-message-form-double {
    height: 1.3rem;
  }
}

.container-checkbox-input + .container-checkbox-input{
  margin-top: .8rem;
}

.container-checkbox-input{
  margin-bottom: .8rem;
}

.container-checkbox-input {
  @include container-checkbox($primary-color, $primary-color, $blue);
}


.container-checkbox-input-interaction{
  margin: .8rem 0;
  @include container-checkbox($white, $white, $white);
}

.container-radio-input + .container-radio-input{
  margin-top: 1rem;
}

.container-radio-input{
  @include container-radio();
}

.small-input-form-container{
  @include input-form-container(30% ,1.7rem);
}

.form-inline{
  .input-form-container{
    margin-top: 1rem;
  }
}

.form-profile-list-table{
  margin-top: 1rem;
}

/*Tablet*/
@media screen and (min-width: 640px) {
  .input-form-container{
    width: rem(230px);
    margin-right: .5rem;
    label{
      font-size: .8rem;
    }
  }
  .input-form-container-with-error{
    width: rem(230px);
    margin-right: 1rem;
  }
  // .input-form-date-picker{
  //   width: rem(230px);
  // }
  .form-inline{
    display: flex;
    margin-bottom: .25rem;
    .input-form-container-with-error{
      margin-bottom: 0;
    }
    .input-form-container{
      margin-right: 1rem;
      margin-top: 0;
      label{
        font-size: 1rem;
      }
    }
  }
  .form-profile-list-table{
    margin-top: 0rem;
  }
}