.input-group {
  position: relative;
  padding: 13px 0 0;
}

.form-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $white;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $white;
}

.form-input:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: $blue;
  }
  padding-bottom: 6px;
  border-width: 2px;
  border-color: $blue;
}

.form-input {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.error-message {
  height: 1rem;
  span {
    display: block;
    padding: 3px 0;
    font-size: 0.8rem;
    color: red;
  }
}

//Date picker

.react-datepicker__triangle{
  border-bottom-color: $grey !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: $primary-color !important;
}

.react-datepicker__navigation--previous{
  border-right-color: $primary-color !important;
  transition: .2s ease-in-out;
  &:hover{
    border-right-color: $blue !important;
  }
}

.react-datepicker__navigation--previous--disabled{
  border-right-color: $grey-dark !important;
  &:hover{
    border-right-color: $grey-dark !important;
  }
}

.react-datepicker__navigation--next{
  border-left-color: $primary-color !important;
  transition: .2s ease-in-out;
  &:hover{
    border-left-color: $blue !important;
  }
}

.react-datepicker__header {
  background-color: $grey !important;
}

.react-datepicker__day {
  transition: 0.2s ease-in-out;
  &:hover {
    color: $primary-color;
    background-color: $grey !important;
  }
}

.react-datepicker__day--disabled{
  &:hover {
    color: #ccc;
    background-color: transparent !important;
  }
}

.react-datepicker__day--keyboard-selected{
  background-color: $blue !important;
}

.react-datepicker__close-icon {
  right: 5px !important;
  &:after {
    background-color: $blue;
  }
}

.quick-search {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 0 0.8rem;
  color: $primary-color;
  background-color: $grey-lighter;
  border-radius: 10px;
  border: 2px solid $grey;
  transition: 0.2s ease-in-out;
  &:hover {
    border-color: $primary-color;
  }
  &::placeholder {
    color: #8ea6c0;
    opacity: 1;
  }
}
