.input-group {
  position: relative;
  padding: 13px 0 0;
}

.form-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $white;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form-label {
    font-size: 1rem;
    cursor: text;
    top: 20px;
  }
}

.form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $white;
}

.form-input:focus {
  ~ .form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.7rem;
    color: $blue;
  }
  padding-bottom: 6px;
  border-width: 2px;
  border-color: $blue;
}

.form-input {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.error-message {
  height: 1rem;
  span {
    display: block;
    padding: 3px 0;
    font-size: 0.8rem;
    color: red;
  }
}

//Checkbox

.container-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.container-checkbox input {
  height: 0;
  width: 0;
}

.checkmark-checkbox {
  position: relative;
  margin: 0 0.5rem;
  height: 25px;
  width: 25px;
  border: 2px solid $white;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.container-checkbox:hover input ~ .checkmark-checkbox {
  border-color: $white;
}

.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: $blue;
}

.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}

.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}

.container-checkbox .checkmark-checkbox:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $primary-color;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

//Date picker

.react-datepicker-wrapper {
  width: 90%;
}
.react-datepicker-wrapper,
.react-datepicker__input-container {
  background-color: transparent;
  border: none;
}
.react-datepicker,
.react-datepicker__header {
  flex-direction: column;
  background-color: $primary-color;
  border-radius: 0;
}
.react-datepicker__month-container {
  flex-direction: column;
  width: 250px;
}
.react-datepicker__month {
  flex-wrap: wrap;
}
.react-datepicker__current-month,
.react-datepicker__day-name,
.react-datepicker__day {
  color: #ffffff;
}
.react-datepicker__day {
  transition: 0.2s ease-in-out;
  &:hover {
    color: $blue;
  }
}
.react-datepicker__close-icon {
  &:after {
    background-color: $blue;
  }
}

.quick-search {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  padding: 0 0.8rem;
  color: $primary-color;
  background-color: $grey-lighter;
  border-radius: 10px;
  border: 2px solid $grey;
  transition: 0.2s ease-in-out;
  outline: none;
  &:hover {
    border-color: $primary-color;
  }
  &::placeholder {
    color: #8ea6c0;
    opacity: 1;
  }
}

.input-form-container{
  display: flex;
  flex-direction: column;
  label{
    color: $primary-color;
    font-size: .8rem;
    padding: .2rem 0;
  }
  label:hover #product-brand{
    border: $primary-color
  }
  .input-form {
    height: calculRem(36px);
    width: calculRem(230px);
    margin-right: 0.5rem;
    font-size: 1rem;
    padding:0 0.6rem;
    color: $primary-color;
    border-radius: 4px;
    border: 1px solid #cccccc;
    transition: 0.2s ease-in-out;
    outline: none;
    &:hover {
      border-color: $primary-color;
    }
    &:focus{
      border-color: $blue;
    }
    &::placeholder {
      color: grey;
      opacity: 1;
    }
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

