.form-filter-table{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.reset-filter-table{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0px 3px 16px -11px rgba(0, 0, 0, 0.75);
  transition: color background-color .2s ease-in-out;
  svg {
    margin-left: 0.3rem;
    height: 1rem;
  }
  background-color: $primary-color;
  color: $white;
  border: 2px solid $primary-color;
  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}

.header-list-table{
  display: flex;
  flex-direction: column;
}

.btn-list-sort{
  border: none;
  margin-left: .5rem;
  svg{
    width: 0.625em;
  }
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  color: $primary-color;
  font-size: 2rem;
  p{
    margin-bottom: .5rem;
  }
  a{
    margin: 0;
  }
}

.container-list-table{
  margin-top: 1rem;
  box-shadow: 0px 7px 16px -11px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  overflow: hidden;
}

.list-table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table, tr {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  thead{
    background-color: $grey-darker;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    padding: 1rem 0;
    tr{
      height: 6rem;
    }
    th{
      margin: .25rem 0;
      color: $primary-color;
      cursor: pointer;
      transition: .2s ease-in-out;
      span{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 1rem;
        button{
          display: flex;
          width: calculRem(13.33px);
          color: $primary-color;
          background-color: transparent;
        }
      }
    }
  }
  tbody{
    tr{
      height: 8rem;
      border-bottom: 2px solid $grey;
      color: $primary-color;
      transition: .2s ease-in-out;
      td:first-child{
        max-width: 10rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      td{
        margin: .5rem 0;
      }
      td:last-child{
        text-align: center;
      }
      &:hover{
        background-color: $grey-darker;
      }
    }
  }
}

.div-list-table-action{
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-code-red,
.color-code-orange,
.no-color-code{
  padding: .2rem .3rem;
}

.color-code-red,
.color-code-orange{
  color: $white;
  padding: .2rem .3rem;
  border-radius: 5px;
}


.color-code-red{
  background-color: $red;
}

.color-code-orange{
  background-color: $orange;
}

.hide-color-code{
  background-color: transparent;
  color: $primary-color;
}

.list-table-action{
  @include btn-action-title(1rem, 2rem);
  &:last-child{
    margin-right: 0rem;
  }
}

.list-table-one-action{
  @include btn-action-title(1rem, 2rem);
  margin-right: 0rem;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  border-bottom: 2px solid $grey;
}

.action-pagination{
  display: flex;
  button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: $primary-color;
    border: none;
    padding: 0 .3rem;
    font-size: 1.7rem;
    transition: .2s ease-in-out;
    &:hover{
      color: $blue;
    }
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 .3rem;
    color: $primary-color;

    input{
      width: 1.8rem;
      height: 1.9rem;
      margin: 0 .3rem;
      border: 2px solid $grey;
      border-radius: .2rem;
      background-color: $grey-darker;
      color: $primary-color;
      font-size: 1rem;
      text-align: center;
      transition: .2s ease-in-out;
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:hover{
        border-color: $primary-color;
      }
    }
  }
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 699px) {
  .list-table{
    table, tr {
      flex-direction: unset;
      align-items: unset;
      justify-content: unset;
    }
    table{
      display: table;
    }
    tr{
      display: table-row;
    }
    thead{
      tr{
        height: 3rem;
      }
      th{
        margin: 0;
        &:hover{
          background-color: $grey-lighter;
        }
      }
    }
    tbody{
      tr{
        height: 3rem;
      }
      td:not(:last-child){
        padding-left: 1rem;
      }
    }
  }
  
  .header-list-table{
    div{
      display: flex;
      flex-direction: row;
    }
  }
  .list-table-action{
    &:first-child{
      margin-right: 1rem;
    }
  }
  .form-filter-table{
    .action-form-filter{
      margin-bottom: .5rem;
    }
  }

  .reset-filter-table{
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.2rem;
    border-radius: 50%;
    border: none;
    svg{
      z-index: 1;
      margin: 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 50%;
      background-color: $primary-color-hover;
      opacity: 0.4;
      z-index: 0;
      transition: .2s ease-in-out;
    }
    &:hover{
      background-color: $primary-color-hover;
      color: $white;
    }
    &:hover::after{
      transform: scale(1.15);
    }
    .reset-filter-text{
      display: none;
    }
  }
}