@mixin form-sign-in($height: false) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 2.5rem 2.5rem 0;
  background-color: $primary-color;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;

  @if $height {
    height: 100%;
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
}

@mixin default-btn() {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0px 3px 16px -11px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease-in-out;
  svg {
    margin-left: 0.3rem;
    height: 1rem;
  }
}

@mixin default-btn-action-form($bg-color, $color, $hoverable: true) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(36px);
  margin-right: 0.5rem;
  padding: 0 0.8rem;
  background-color: $bg-color;
  border: 2px solid $bg-color;
  border-radius: 10px;
  color: $color;
  font-size: 1rem;
  font-weight: 700;
  box-shadow: 0px 7px 16px -11px rgba(0, 0, 0, 0.75);
  transition: 0.2s ease-in-out;
  @if $hoverable {
    &:hover {
      background-color: $primary-color-hover;
      border-color: $primary-color-hover;
    }
  } @else{
    cursor: not-allowed;
  }
  svg {
    margin-right: 0.8rem;
  }
}

@mixin info-icon($bg-color) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  color: $white;
  border-radius: 50%;
  background-color: $bg-color;
  transition: 0.2s ease-in-out;
  svg {
    z-index: 1;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    background-color: $bg-color;
    opacity: 0.4;
    z-index: 0;
    animation: pulse 2000ms infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

@mixin message-box-info-warning($border-color) {
  position: absolute;
  bottom: 2.1rem;
  left: -4rem;
  width: 16.5rem;
  padding: 0.5rem;
  background-color: $grey;
  color: $primary-color;
  border: 1px solid $border-color;
  border-radius: 10px;
}

@mixin input-form-container($width : 100%, $input-height : 2.25rem) {
  display: flex;
  flex-direction: column;
  width: $width;
  label {
    color: $primary-color;
    font-size: 1rem;
    padding-bottom: 0.2rem;
  }
  label:hover #product-brand {
    border: $primary-color;
  }
  .input-form {
    height: $input-height;
    font-size: 1rem;
    padding: 0 0.6rem;
    color: $primary-color;
    border-radius: 4px;
    border: 1px solid #cccccc;
    transition: 0.2s ease-in-out;
    &:hover {
      border-color: $primary-color;
    }
    &:focus {
      border-color: $blue;
    }
    &::placeholder {
      color: grey;
      opacity: 1;
    }
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .input-form-date-picker {
    width: 100%;
  }
  .input-add {
    display: flex;
    input {
      border-right: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .react-datepicker-wrapper{
      width: 100%;
    }
    .action-input-add {
      width: 2rem;
      background-color: $primary-color;
      color: $white;
      border: none;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      transition: .2s ease-in-out;
      &:hover{
        background-color: $primary-color-hover;
      }
    }
  }
  @media screen and (min-width: 640px) {
    .input-add {
      .react-datepicker-wrapper{
        width: unset;
      }
    }
  }
}

@mixin btn-action-title($font-size, $height-width, $margin-right : true, $type : "normal"){
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $height-width;
  height: $height-width;
  font-size: $font-size;
  box-shadow: 0px 7px 16px -11px rgba(0, 0, 0, 0.75);
  @if $margin-right {
    margin-right: .5rem;
  }
  color: $white;
  @if $type == disabled {
    background-color: $grey-dark;
    cursor: not-allowed;
  } @else if $type == normal {
    background-color: $primary-color;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 50%;
      background-color: $primary-color-hover;
      opacity: 0.4;
      z-index: 0;
      transition: .2s ease-in-out;
    }
    &:hover{
      background-color: $primary-color-hover;
    }
    &:hover::after{
      transform: scale(1.15);
    }
  } @else if $type == warning {
    background-color: $orange;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-radius: 50%;
      background-color: $orange;
      opacity: 0.4;
      z-index: 0;
      transition: .2s ease-in-out;
    }
    &:hover{
      background-color: $orange;
    }
    &:hover::after{
      transform: scale(1.15);
    }
  }
  border: none;
  border-radius: 50%;
  svg{
    z-index: 1;
  }

}