.main-menu{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 5rem;
  background-color: $primary-color;
  ul{
    padding: 0 0 1rem;
  }
  li{
    a, .div-logout{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .7rem 1rem .7rem;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: $white;
      transition: .2s ease-in-out;
    }
    &:hover a{
      color: $grey;
    }
    &:hover .div-logout{
      color: $grey;
    }
  }
}
.menu{
  display: none;
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $primary-color;
}

.svg-icon{
  display: none;
}

.svg-icon-responsive{
  @include svgIcon();
}

.burger-menu-svg {
  @include svgFill(30px);
}

.display-block{
  display: block;
}

.display-svg-menu{
  display: none;
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 992px){
  .main-menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: inherit;
    min-height: 100vh;
    width: 5rem;
    padding: 0 0 0 1rem;
    transition: width .2s ease-in-out;
    ul{
      padding: 0;
    }
    li{
      a, .div-logout{
        display: flex;
        justify-content: flex-start;
        padding: .35rem 0;
        margin-right: 1rem;
        cursor: pointer;
      }
      &:hover{
        #svg-home, #svg-list, #svg-history, #svg-shopping, #svg-user, #svg-stat, #svg-logout{
          color: $primary-light;
        }
      }
    }
  }

  .interact-menu{
    display: flex;
    align-items: center;
  }

  .menu{
    position: unset;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
  }

  .svg-icon{
    @include svgIcon();
  }

  .burger-menu-svg{
    display: none;
  }

  .svg-icon{
    &:hover{
      #svg-menu{
        color: $primary-light;
      }
    }
    #svg-menu, #svg-home, #svg-list, #svg-history, #svg-shopping, #svg-user, #svg-stat, #svg-logout{
      @include fontAwesomeIcon();
    }
  }
}