.container-row{
  display: block;
  height: 100%;
}

.container-column{
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 992px){
  .container-row{
    display: flex;
    justify-content: space-between;
  }
  .container-prepper-app{
    display: flex;
  }
}