.container-sign-in{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #fafafa;
  width: inherit;
  .welcome-container{
    display: flex;
    align-items: center;
    padding:0 1rem;
    height: 40%;
    min-height: 100px;
    h1{
      color: $primary-color;
      font-size: 3rem;
    }
  }
  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $primary-color;
    min-height: 60%;
    color: $white;
    .switch-form-container{
      margin: 0 2.5rem;
      border-top: 1px solid $white;
      text-align: center;
      .switch-form{
        margin: .5rem 0 1.5rem 0;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover{
          color: $blue;
        }
      }
    }
  }
}

.form-sign-in{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem 2.5rem 0;
  background-color: $primary-color;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  .btn-form-sign-in{
    width: 50%;
    margin: .8rem auto 0 auto;
    padding: .8rem 0;
    border: 1px solid $primary-color;
    border-radius: 50px;
    color: $primary-color;
    font-weight: 700;
    font-size: 1.2rem;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in-out;
    &:hover{
      background-color: $primary-color;
      border-color: $white;
      color: $white;
    }
  }
}

.bad-user-code{
  color: $red;
}

.error-message {
  font-size: .8rem;
  color: $red;
}

.success-message {
  opacity: 1;
  font-size: .8rem;
  height: .8rem;
  color: $blue;
  transition: 0.5s ease-in-out;
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .container-sign-in{
    overflow: hidden;
    width: 350px;
    min-height: 800px;
    border-radius: 30px;
  }
}



