.chart-container{
  display: flex;
  flex-direction: column;
  .chart{
    h4{
      text-align: center;
      color: $primary-color;
    }
    width: 100%;
  }
  .canvas-chart-container{
    position: relative;
    margin: auto;
    height: 40vh;
  }
  .canvas-chart-container-pie{
    position: relative;
    margin: auto;
    height: 60vh;
  }
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 992px){
  .chart-container{
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    .chart{
      width: 50%;
    }
    .chart-menu-interaction{
      display: flex;
      justify-content: center;
      li{
        margin: 0 .5rem;
        cursor: pointer;
        color: $primary-color;
        text-decoration: underline;
        text-decoration-color: $white;
        transition: .2s ease-in-out;
        &:hover{
          text-decoration-color: $primary-color;
        }
      }
      .chart-menu-interaction-active{
        text-decoration-color: $primary-color;
      }
    }
    .canvas-chart-container{
      position: relative;
      margin: auto;
      height: 85%;
    }
    .canvas-chart-container-pie{
      position: relative;
      margin: auto;
      height: 85%;
    }
  }
}