.container-sub{
  display: none;
  width: 100%;
  background-color: $primary-color;
  color: $white;
}


/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 1553px){
  .container-sub{
    display: block;
    width: 25rem;
    min-width: 25rem;
    height: inherit;
    min-height: calc(100vh - 4rem);
  }
}