.container-sub{
  width: 100%;
  min-height: calc(100vh - 5rem);
  padding: 1.5rem;
  background-color: $primary-color;
  color: $white;
  .notification{
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 .8rem;
    overflow: hidden;
    border-radius: .8rem;
    background-color: $white;
    color: $primary-color;
    box-shadow: 0px 7px 16px -11px rgba(0, 0, 0, 0.75);
    &:not(:last-child){
      margin-bottom: 1rem;
    }
    .notification-message{
      display: flex;
      align-items: center;
      padding: .8rem 0;
    }
    .notification-interaction{
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-left: 1px solid $primary-color;
      button{
        display: flex;
        align-items: center;
        padding: 0 .8rem;
        min-height: 2.5rem;
        height: 50%;
        font-family: "Roboto", sans-serif;
        line-height: 1.4;
        color: $primary-color;
        font-size: 1rem;
        font-weight: 700;
        background-color: $white;
        border: none;
        cursor: pointer;
        transition: .3s ease-in-out;
        &:first-child{
          border-bottom: 1px solid $primary-color;
        }
        &:hover{
          background-color: $grey;
        }
      }
    }
  }
}

.anim-container-sub-enter-done {
  display: none;
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 640px) {
  .anim-container-sub-enter {
    right: -25rem;
  }
  
  .anim-container-sub-enter-done {
    right: 0;
    display: block;
  }
  .anim-container-sub-enter-active {
    right: 0;
    transition: right 0.5s ease-in-out;
  }
  .anim-container-sub-exit {
    right: 0;
  }
  .anim-container-sub-exit-active {
    right: -25rem;
    transition: right 0.5s ease-in-out;
  }

  .container-sub{
    position: absolute;
    z-index: 10;
    left: unset;
    width: 25rem;
    min-height: calc(100vh - 4rem);
    height: inherit;
    overflow-y: auto;
  }
}