.container-sub{
  min-height: calc(100vh - 5.375em);
  padding: 0 em(12px);
  background-color: var(--white);
  border-bottom-left-radius: 0.9375em;
  border-bottom-right-radius: 0.9375em;
  box-shadow: 0 -6px 0 var(--white), 0 1px 4px var(--drop-shadow);
  .container-notification{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: inherit;
    padding: em(12px) 0;
    border-top: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
  .zero-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    max-height: inherit;
    min-height: calc(100vh - 5.4375em);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .notification{
    display: flex;
    flex-direction: column;
    padding: em(11px) em(15px);
    overflow: hidden;
    border-radius: .8rem;
    background-color: var(--purple-light);
    &:not(:last-child){
      margin-bottom: 1rem;
    }
    .notification-message{
      display: flex;
      align-items: center;
      padding-bottom: .8rem;
      color: var(--primary-color);
      font-weight: 500;
    }
    .notification-interaction{
      display: flex;
      button{
        display: flex;
        align-items: center;
        padding: 0 .8rem;
        height: rem(30px);
        color: var(--white);
        font-weight: 500;
        background-color: var(--primary-color);
        border-radius: em(5px);
      }
      button + button{
        margin-left: em(13px);
      }
    }
  }
  .all-notif{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 2rem;
    margin-top: 1rem;
    padding-top: em(12px);
    border-top: 1px solid var(--primary-color);
    button{
      font-weight: 500;
      color: var(--primary-color);
      background-color: var(--white);
      cursor: pointer;
    }
  }
}

.anim-container-sub-enter-done {
  display: none;
}

/*Media queries*/

/*Tablet*/
@media screen and (min-width: 768px) {
  .anim-container-sub-enter {
    right: -25rem;
  }
  
  .anim-container-sub-enter-done {
    right: 0;
    display: block;
  }
  .anim-container-sub-enter-active {
    right: 0;
    transition: right 0.5s ease-in-out;
  }
  .anim-container-sub-exit {
    right: 0;
  }
  .anim-container-sub-exit-active {
    right: -25rem;
    transition: right 0.5s ease-in-out;
  }

  .container-sub{
    position: absolute;
    top: 0;
    z-index: 10;
    width: 25rem;
    min-height: calc(100vh - 4rem);
    height: inherit;
    overflow-y: auto;
  }
}