.container-subnav{
  display: none;
}

.interaction-sub-menu{
  display: flex;
  p{
    padding: 0 1rem;
  }
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 960px){
  .container-subnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 3rem;
    background-color: $primary-color;
    color: $white;
  }
}