.container-subnav{
  display: none;
}

.interaction-sub-menu{
  display: flex;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.info-notification{
  position: relative;
  .number-nofitication{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -.2rem;
    right: -.3rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $red;
    color: $white;
    border-radius: 50%;
  }
}

/*Media queries*/

/*Full-screen*/
@media screen and (min-width: 992px){
  .container-subnav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 4rem;
    padding: 0 1rem;
    background-color: $primary-color;
    color: $white;
  }

  .svg-icon{
    #svg-logout-sub-menu, #svg-bell{
      @include fontAwesomeIcon();
    }
    &:hover{
      #svg-logout-sub-menu, #svg-bell{
        color: $primary-light;
      }
    }
  }

  .svg-no-margin{
    margin: 0;
  }

  .user-profile-link{
    @include svgIcon();
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    span{
      color: $primary-color;
      transition: .2s ease-in-out;
    }
    &:hover span{
      color: $primary-light;
    }
  }

}