$font-size: 16px;
$primary-color: #002651;
$primary-color-hover: #033e81;
$primary-light: #775ada;
$primary-light-hover: #8f78dd;
$red: #ff304f;
$red-hover: #fa4d67;
$orange: #ff745b;
$green: #3bbaa2;
$blue: #28c7fa;
$white: #ffffff;
$grey: #e1e7ee;
$grey-lighter: #f5f8fa;
$grey-darker: #eaf0f6;
$grey-dark: #9b9d9e;

$new-primary-color: #6237D1;
$new-grey: #595959;
$new-red: #F46F6F;
$new-green: #006709;